.playing {
  background: #353535;
}

  
#playcontrols{
  display: none;
}

#playlistcontainer:hover #playimagecontainer {
  background-color: rgba(0, 0, 0, 0.5);
  }
  
#playlistcontainer:hover #playcontrols{
  display: block;
}
