<div id="main" style="height: 100vh; width: 100vw; overflow-y: scroll; overflow-x: hidden; -webkit-overflow-scrolling: touch;" (scroll)="onScroll()">
  <div class="row" style="background-color: #272727;">
    <div class="col-md-12 row">

      <div class="row col-md-12 mt-2">
        <div class="col-md-4 ml-4">
          <img src="../../Hsync.png" style="height:40px;">
        </div>
        <div [hidden]="videoPlaylist.length" class="col-md-4 ml-1 mr-5">
          <app-video-search (videosUpdated)="handleSearchVideo($event)"></app-video-search>
        </div>
        <div class="col-md-1"></div>
        <div [hidden]="videoPlaylist.length" class="col-md-2 ml-5 mt-2" style="color:rgb(166, 169, 172)">
          <app-userlist></app-userlist>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="!videoPlaylist.length" class="row"
    style="position: -webkit-sticky; position:sticky; top: 0; background-color: #1f1f1f; z-index: 1;">
    <div class="col-md-7 mt-3 mb-3 mr-5 ml-5">
      <app-player></app-player>
    </div>
    <div class="col-md-4 mt-3 mb-3 mr-4">
      <h2 style="color:rgb(166, 169, 172)">
        Playlist
      </h2>
      <div class="border-left border-top border-dark" style="height:35vh; overflow-y: auto;">
        <app-play-list id="playlist" [repeat]="repeat" [shuffle]="shuffle" [playlistToggle]="playlistToggle"
          [playlistNames]="playlistNames" [videoPlaylist]="videoPlaylist"></app-play-list>
      </div>
      <h3 style="color:rgb(166, 169, 172)">
        Users
      </h3>
      <div class="border-left border-top border-dark" [hidden]="!videoPlaylist.length"
        style="color:rgb(166, 169, 172); height:15vh;">
        <app-userlist></app-userlist>

      </div>
    </div>
  </div>
  <div [hidden]="!videoPlaylist.length" class="row">

    <div class="col-md-3 ml-4 mt-2 mb-2">

      <app-video-search (videosUpdated)="handleSearchVideo($event)"></app-video-search>

    </div>

  </div>


  <div id="searchlist" class="mr-5 ml-5" style="background-color: #121212;">

    <app-video-list class="row" (videoPlaylist)="checkAddToPlaylist($event)" [videoList]="videoList"
      [loadingInProgress]="loadingInProgress">
    </app-video-list>

    <div class="row col-md-12 mt-5 mb-5" *ngIf="!videoList.length">
      <div class="col-md-6"></div>
      <div class="spinner-border text-light"></div>
    </div>
  </div>
</div>