<app-player></app-player>

<app-video-search (videosUpdated)="handleSearchVideo($event)"></app-video-search>

<!-- <app-video-list [videoList]="videoList"></app-video-list> -->

<main class="mdl-layout__content" LazyScroll (OnScrollMethod)="searchMore()" ScrollDistance="3">
    <div class="page-content" [ngClass]="{'blur-main-playlist-opened': playlistToggle}">
      <app-video-list *ngIf="videoList.length" class="mdl-grid" (videoPlaylist)="checkAddToPlaylist($event)" [videoList]="videoList" [loadingInProgress]="loadingInProgress">
      </app-video-list>
      <div class="loader" *ngIf="!videoList.length">
        <div class="loading"></div>
      </div>
    </div>
  </main>