.loader-progress {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  top: 0;
  left: 0;
}

.loader-progress>.loading {
  margin: 0 auto;
}



#imagecontrols{
  display: none;
}

#videocontainer:hover #imagecontainer {
  background-color: rgba(0, 0, 0, 0.5);
  }
  
#videocontainer:hover #imagecontrols{
  display: block;
}
  
 .playbutton {
  text-align: center;
  margin: auto;
 }

 .playbutton i {
  font-size: 4.8vh;
 }

 /* .addbutton i{ 
  font-size: 3.6vh;
 } */