<div class="col-md-2" id="{{i + video.id}}" *ngFor="let video of videoList; let i = index;">
  <div class="mt-3" id="videocontainer" style="cursor: pointer;" (click)="play(video)">
    <div>
      <img src={{video.snippet?.thumbnails.high.url}}
        style="clip-path: inset(13% 0% 13% 0%); width: 100%; margin-top: -9.6%;" />
      <div style="background-color: rgba(0, 0, 0, 0.8); position: absolute; top: 49%; right: 6%; ">
        <span style="margin: 0vh 5px; color: #ffffff; font-weight: 400; ">
          {{ video.contentDetails?.duration | videoDuration }}
        </span>
      </div>
    </div>
    <div style="margin-top: -2vh">
      <div>
        <b style="color: #ffffff">{{ video.snippet?.title | videoName: [55, 52] }}</b>
      </div>
      <div>
        <span style="color: #AAAAAA">{{ video.snippet?.channelTitle | videoName: [20, 17]}}</span>
      </div>
      <div>
        <span style="color: #AAAAAA">{{ video.statistics?.viewCount | videoLikesViews }} views</span>
      </div>
      <div>
        <span style="color: #AAAAAA">for {{ video.snippet?.publishedAt | videoPublished }}</span>
      </div>
    </div>


  </div>
  <div id="opacity" (click)="play(video)">
      <div *ngIf="this.syncService.isMasterbool" class="addbutton" (click)="addToPlaylist(video)">
         <i style="color: #ffffff; padding-left: 90%" class="material-icons">playlist_add</i>
      </div>
         
      <div *ngIf="!this.syncService.isMasterbool" class="playbutton">
          <i style="color: #ffffff; padding-top: 6vh" class="material-icons">playlist_add</i>
       </div>
       <div *ngIf="this.syncService.isMasterbool" class="playbutton">
          <i style="color: #ffffff; padding-top: 3vh" class="material-icons">play_circle_filled</i>
       </div>

  </div>
</div>


<div class="loader loader-progress mt-5" *ngIf="loadingInProgress">
  <div class="loading"></div>
</div>