.loader-progress {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  top: 0;
  left: 0;
}

.loader-progress>.loading {
  margin: 0 auto;
}

#opacity{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 90.6%;
  height: 52.6%;
  position: absolute;
  top: 5.2%;
}

#opacity:hover{

  display: block;
  cursor: pointer;
}

#videocontainer:hover + #opacity {
  display: block;
  }

 .playbutton {
  text-align: center;
  margin: auto;
 }

 .playbutton i {
  font-size: 48px;
 }

 .addbutton i{ 
  font-size: 36;
 }