<div *ngIf="this.mainComponent.videoPlaylist.length">
 <!--  <span>you are known as {{username}}.</span> -->
  <div style="height:20vh; overflow-y: auto;">
    <div *ngFor="let user of userList; let i = index;">
      <div>
        <span style="display: inline-block; position: relative; top:4px">
          <i *ngIf="user.master" class="material-icons">
            person
          </i>
          <i *ngIf="!user.master" class="material-icons">
            person_outline
          </i>
        </span>
        <span style="font-style:italic" *ngIf="user.userName == username" style="font-weight:bold">
          {{user.userName}}
        </span>
        <span style="font-style:italic" *ngIf="user.userName != username" style="font-weight:normal">
          {{user.userName}}
        </span>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!this.mainComponent.videoPlaylist.length">
  <span>{{userList.length}} People in room including you.</span>
</div>